.play-mat {
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
}

.player-mats {
    flex-grow: 1;
    height: 100%;
    overflow-y: hidden;
}

.details {
    width: 20%;
}

.opponent {
    flex-direction: column-reverse;
}

.game-card {
    /* height: 85%; */
    height: 100%;
    border: 1px solid grey;
    border-radius: 5px;
}

.game-card-img {
    height: 100%
}

.game-card-label {
    height: 15%;
}

.game-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}


/* card-cell */
.card-cell.selected {
    border: 1px solid red;
}