/* <div class="player-mat opponent">
    <For each={FleshBloodLayout.rows}>{(row, i) =>
        <div class="">
            <For each={row.cells}>{(cell, i) =>
                <div class="cell">
                    <div class="card">
                        <img class="card-img" src="https://dhhim4ltzu1pj.cloudfront.net/media/images/back4.width-300.format-webp.webp"></img>
                    </div>
                    <div class="label">{cell.label}</div>
                </div>
            }</For>
        </div>
    }</For>
</div> */

.play-mat {
    /* max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: stretch; */
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
}

.player-mats {
    flex-grow: 1;
    height: 100%;
    overflow-y: hidden;
}

.details {
    /* max-width: 20%; */
    width: 20%;
}

.opponent {
    flex-direction: column-reverse;
}

.game-card {
    height: 85%;
}

.game-card-img {
    height: 100%
}

.game-card-label {
    height: 15%;
}

.game-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}


/* card-cell */
.card-cell.selected {
    border: 1px solid red;
}