.deck-init-screen {
    display: flex;
    height: 100%;
}

.deck-init-layout {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.game-card {
    /* height: 85%; */
    height: 100%;
}

.game-card-img {
    height: 100%
}

.game-card-label {
    height: 15%;
}

.game-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.disabled {
    opacity: 0.4;
}

.input-panel {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}


/* card-cell */

.empty {
    opacity: .5;
}

.disabled .img {
    opacity: 0;
    border: 2px solid black;
}

.deck-init__toolbar {
    display: flex;
    justify-content: center;
}

.deck-init__toolbar > * {
    margin: 5px;
}

.deck-init__export-textarea {
    min-width: 80vh;
    font-size: smaller;
    height: 80vh;
    overflow-x: scroll;
    text-wrap: nowrap;
}